@font-face {
  font-family: 'Bebas';
  src: url('bebasneue.eot?') format('eot') ,
       url('bebasneue.woff') format('woff'), 
       url('bebasneue.ttf')  format('truetype'),
       url('bebasneue.svg#bebasneue') format('svg');
}


body {
	color: #ffffff;
	Font-Family: Verdana, Sans-Serif;
	Font-Size: 8pt;
	Background-Color: #000000;
/*	background-image:url(Grafik/TexturePaper2.jpg);*/
    width: 880px;
    margin: auto;
}

.header {
    text-align: center;
 /*   background: url(Grafik/Header.png) scroll no-repeat top center;*/
}

body.EMail {
	Color: #ffffff;
	Font-Family: Verdana, Sans-Serif;
	Font-Size: 8pt;
	Background-Color: #000000;

}

a:link {
	Color: #ffffff;
}

a:visited {
	Color: #c0c0c0;
}

a:hover {
	Color: #e00000;
}

a img {
  border: 0 none;
}



.Center {
	Text-align: center;
}


.highlight {
	font-size: 14px; 
	font-weight: bold;
	color: #e00000;
}

.name {
    Font-family: courier new;
	font-size: 20px; 
	color: #ffffff;
}


h1 {
    font-family: courier new;
	Font-Size: 22pt;
	Font-weight: bold;
	text-align: center;
    color: #e00000;
}

h2 {
    font-family: courier new;
	Font-Size: 22pt;
	Font-weight: bold;
	text-align: left;
    color: #e00000;
}

h3 {
    font-family: courier new;
	Font-Size: 16pt;
	Font-weight: bold;
	color: #ffffff;
}




table.Content {
	width: 800px;
    margin: auto;
/*    background: url(Grafik/Spots.png) scroll no-repeat top center;*/

}

table.Title {
	background-image: url(Grafik/Title.png);
	background-repeat: no-repeat;
	background-position: top center;
	width: 800px;
}

table.listing {
	width: 90%;
    border: 2px solid #202020;
	border-spacing: 1px;
	text-align: left;
	vertical-align: top;
}

tr.odd {
    border: #202020 1px solid;
}

tr.even {
	background-color: #101010;
}




td {
	Font-Family: Veranda, Sans-Serif;
	Font-Size: 9pt;
   	vertical-align: top;
}



td.Title {
	text-align: center;
}

td.ContentLeft {
    padding: 25px;
    vertical-align: top;
}

td.ContentRight {
    padding: 25px;
    width: 100%;
    vertical-align: top;
}


td.Head {
	text-align: center;
	border: none;
	margin: 0px;
}

td.Menu {
	text-align: center;
	word-spacing: 20px;
	border-style: none;
/*	Background-Color: #000000;*/
}

td.Future {
	color: #e00000;
}



textarea {
	font-family: helvetica, arial, sans-serif;
	background-color: #ffffff;
}

input {
	font-family: helvetica, arial, sans-serif;
	background: #fff;
}



#navcontainer
{
	vertical-align: middle;
	text-align: center;
}


#navlist
{
	display: table; 
	margin: 0 auto;
	padding: 0px; 
	height: 24px;
	text-align: center;
	list-style: none;
}


#navlist li
{
	padding: 0px;
	vertical-align: middle;
	display: inline;
}




#navlist li a
{
    Font-family: "courier new";
	font-weight: bold;
    margin-top: 6px;
	display: inline-block; 
	font-size: 11px;
   	letter-spacing: 0.2em;
	color: #ffffff;
	text-decoration: none;
	width: 95px;
}


#navlist li a:hover
{
	color: #e00000;
    margin-top: 0px;
/*	font-weight: bold;*/
	font-size: 18px;
	letter-spacing: 0.2em;
}

