<!-- Page content -->
<table class="Content">

<tr>


<td class="ContentRight" valign="top">
	<h2>ALL ABOUT</h2>

	<h3>HUNTCASE: THE BEGINNING</h3>
	<p  class="Column">
    Irgendwann beschlie&szlig;en zwei urhessische Rock 'n Roller in M&uuml;nchen eine knallharte
	Heavy-Metal-Poser-Sparkassen-Rock-Band zu gr&uuml;nden. Zu diesem Zweck suchen sie sich 
	einen Tanzmusiker, der schon immer mal Rockstar werden wollte, und einen Drummer, der Sex and 
	Drug and Rock`n`Roll noch lebt. HUNTCASE ist geboren. <br>
	<br>
	Vier Jahre dr&ouml;hnender Sound und das Geh&ouml;r hat so gelitten, dass die drei Frontm&auml;nner
	pl&ouml;tzlich das Bed&uuml;rfnis kriegen, auch mal zu h&ouml;ren, was sie da eigentlich so spielen. 
	Kurzerhand suspendieren sie ihren Drummer, gehen zum Fris&ouml;r und rufen die akustische 
	Version von HUNTCASE ins Leben.<br>
    </p>

	<h3>HUNTCASE: RELOADED</h3>
	<p  class="Column">
    Siehe da, der Tinitus ist wieder weg, das Geschleppe von Trommeln und schweren Boxen hat
	ein Ende und die Band f&uuml;hlt sich wie neu geboren. Von nun an steht glasklarer Sound und 
	perfekter Chorgesang im Vordergrund.<br>
	<br>
	Das neue Konzept geht auf und die Band spielt sich kreuz und quer durch die M&uuml;nchener
	Kneipenszene bis hin zu Open-Air-Veranstaltungen wie dem Erdinger Sinnflut-Fest.<br>
	<br>
	Nichts ist f&uuml;r die Ewigkeit und so kommt es, wie es kommen musste. Einer der Rock 'n Roller
	beschlie&szlig;t nach zwei Jahren sich in seine alte Heimat zu verpfeifen und wohnt seitdem im
	sch&ouml;nen hessischen Wixhausen (wo auch sonst?).<br>
    </p>

	<h3>HUNTCASE: DER AUFTRAG</h3>
	<p  class="Column">
    HUNTCASE vor dem Aus? Weit gefehlt. Der Rest der Band macht sich auf die Suche nach 
	einem weiteren Rocker, was sich hinzieht, denn die Aufgabe scheint kaum l&ouml;sbar, immerhin muss der
	neue Mann nicht nur ein K&ouml;nner auf der Gitarre sein, sondern ebenso gesanglich brillieren. <br>
	<br>
	Nach neun Monaten und unz&auml;hligen Castings (der Dank gilt Dieter Bohlen 
	daf&uuml;r, dass er nicht auch noch seinen Ausschuss geschickt hat) 
	finden sie einen fantastischen Gitarristen mit Stimme, 
	der die L&uuml;cke wieder ausf&uuml;llt und die Band nicht nur durch sein grandioses 
	K&ouml;nnen bereichert. Mission accomplished.<br>
    </p>
	<br>
	<br>

	

	<h3>HUNTCASE ARE:</h3>

		<img src="./Grafik/Joe-headRed.png" alt="Joe" class="Large"><br>
		<span class="name">Joe Koperski</span><br>
		<p  class="Column">Ein junger Kerl hat zwei M&ouml;glichkeiten, um auf 
		sich aufmerksam zu machen: Entweder er kann gut kicken, oder er spielt geil 
		Gitarre. Nach jahrelangen Versuchen auf dem Hartplatz blieb ihm letzten Endes doch nur die 
		Gitarre &uuml;brig. Er h&auml;lt Hansi Hinterseer f&uuml;r einen gro&szlig;en Entertainer und die Beatles f&uuml;r 
		klassische Autos aus dem Hause Volkswagen.</p>

		<img src="./Grafik/Wolfgang-headRed.png" alt="Wolfgang" class="Large"><br>
		<span class="name">Wolfgang Kirschenheuter</span><br>
		 <p  class="Column">Als Quotenbayer ist er froh, hin und wieder ein Supersolo spielen und 
		 super solo singen zu d&uuml;rfen. Obwohl er bereits 2005 der Band beigetreten ist, gilt er immer noch 
		 als "der Neue". Genommen haben sie ihn damals, weil er so eine tolle Aussprache hat. Sie lassen 
		 ihn allerdings in dem Glauben es w&auml;re deshalb, weil er die meisten Gitarrensoli noch 
		 originaler als das Original spielt.
		 </p>

		<img src="./Grafik/Rainer-headRed.png" alt="Rainer" class="Large"><br>
		<span class="name">Rainer Saffer</span><br>
		 <p  class="Column">Der Mann, den die Regensburger Domspatzen heute noch mit 
		 Handkuss nehmen w&uuml;rden. Hat sich in der Band vom Bassisten zum Gitarristen hoch 
		 gearbeitet. Ist damals in die Band wegen der Groupies eingestiegen, auf die er immer 
		 noch wartet. Meister der unfreiwilligen Selbstkomik. Die Band musste ausst&ouml;pseln 
		 ("unplugged music"), weil sein Auto f&uuml;r die gro&szlig;en Boxen zu klein war. </p>



</td>
</tr>	 
	
</table>







