<tr>
<td>
	<!--  display date -->
	<%%WEEKDAY%%> <span class="highlight"><b> <%%DAY%%>. <%%MONTH%%>. <%%YEAR%%> </b> </span><br>
	<!--  display time -->
	<%%TIME%%> Uhr
</td>

<td>
	<!--  display location -->
	<b> <%%LOCATION%%> </b><br>

	<!--  display address -->
	<a href="http://maps.google.com?q=<%%GOOGLELINK%%>" onclick="window.open(this.href, '_blank', ''); return false;"> <%%ADDRESS%%> </a>
</td>
</tr>

<tr><td colspan="2">
	<img src="Grafik/SeperatorSmallWhite.png" ALT="___________">
</td></tr>
