<table class="Content">

<tr>

<td class="ContentRight">
	<h2>WANN &amp; WO?</h2>

	<p class="Column">
	Damit Ihr immer auf dem neuesten Stand seid wann und wo HUNTCASE als n&auml;chstes live spielen, k&ouml;nnt 
	Ihr Euch in die HUNTCASE Mailing-List eintragen lassen. Ihr werdet dann automatisch &uuml;ber alle Termine f&uuml;nf Tage im Voraus informiert.
 	</p>
	
	<form method="POST" action="reguser.php">
	<p>
	<input type="text" name="email" size="20" style="text-align: left" value="E-Mail Adresse"> &nbsp;&nbsp;&nbsp;
	<input class="button" name="subscribe" type="submit" value="subscribe">
	<input class="button" name="subscribe" type="submit" value="unsubscribe">
 	</p>
	</form>
      
	<table>
		<tr> 
			<td colspan="2">
				<h3>
				Hier k&ouml;nnt Ihr HUNTCASE demn&auml;chst live sehen:
				</h3>
			</td>
		</tr>

		<%%DATELIST%%>

	</table>
    <br>

    <%%DATESPAST%%>

</td>
</tr>
</table>



