
<table class="Content">

<tr><td colspan="2">
	<p class="Center"><img src="./Grafik/Band01.png" alt="Huntcase" class="Full"></p>
	 
	<p class="Column">HUNTCASE, das bedeutet beste Unterhaltung auf musikalisch anspruchsvollem Niveau. 
	Die drei Musiker pr&auml;sentieren bar jeglicher Profilneurosen ein Programm, das durch 
	die gesamte Musikgeschichte der vergangenen 50 Jahre führt.</p>
	
	<p class="Column">Dabei setzt die Band in erster Linie auf ausgefeilte dreistimmige Gesangslinien. 
	Das ganze groovy begleitet von drei Akustik-Gitarren und Percussion.</p>
	
	<p class="Column">Und immer gilt das Motto: <b>HUNTCASE spielt....Ihr feiert.</b></p>
</td></tr>





<tr><td style="width: 50%; font-size: 0.5em;" align="right" valign="top">
	<b>Impressum:</b>
</td>


<td style="width: 50%; font-size: 0.7em;" valign="top">
	
	&#74;&#111;&#97;&#99;&#104;&#105;&#109;&#32;&#75;&#111;&#112;&#101;&#114;&#115;&#107;&#105;<br>
	&#80;&#117;&#116;&#122;&#98;&#114;&#117;&#110;&#110;&#101;&#114;&#32;&#83;&#116;&#114;&#46;&#32;&#49;&#50;&#54;&#97;<br>
	&#56;&#53;&#53;&#50;&#49;&#32;&#79;&#116;&#116;&#111;&#98;&#114;&#117;&#110;&#110;
	
	<br>
	<br>
</td></tr>

</table>


