<html>
<head>
<title>HUNTCASE Infomail</title>

<link rel="stylesheet" href="http://www.huntcase.de/styles.css" type="text/css">

</head>


<body class="EMail">


<table align="center" cellspacing="0" border="0">
	<tr>
		<td colspan="2" class="Head">
			<a href="http://www.huntcase.de">
			<img src="http://www.huntcase.de/Grafik/TitleRedWide.png" alt="" border="0">
			</a>
		</td>	
	</tr>
	<tr>
		<td class="Content" valign="top">
			<img src="http://www.huntcase.de/Grafik/GuitarStamp.png" alt="">
			
		</td>
		<td>
			<h2>Hallo, </h2>
			
			du m&ouml;chtest in Zukunft unseren Newsletter nicht mehr erhalten. Um den Vorgang 
            abzuschlieﬂen und dich endg&uuml;ltig von unserer Liste zu l&ouml;schen bitte klicke   
            <a href="http://www.huntcase.de/unreg.php?user=<%%HASH%%>">hier</a>.
			<br>
			<br>
			<br>
			<a href="http://www.huntcase.de">www.huntcase.de</a><br>
		</td>
	</tr>

</table>



</body>
</html>
