
<!-- Page content -->
<table class="Content">

<tr>

	<td class="ContentRight" valign="top">
	<h2>SO SIEHT'S AUS</h2>

	<table border="0" cellspacing="12" class="Center" style="width: 100%;">

		<tr valign="top"><td style="width: 50%;" align="left">
			<%%BACK%%>
		</td>	
		<td style="width: 50%;" align="right">
			<%%FORWARD%%>
		</td></tr>	
			
		<tr><td colspan="2">
			<img src="<%%IMAGE%%>" alt="<%%ALT%%>" class="Full">
		</td></tr>

	</table>

	</td>
	</tr>
</table>

	<span style="font-size: 0.5em;">Fotos: Hermann Haberer / Andreas J&uuml;ttner</span>




