
<!-- Page content -->
<table class="Content">

<tr>

<td class="ContentRight" valign="top">
	<h2>PRESSE- UND INFO-MATERIAL</h2>
	<p class="Column">
	Lieber Veranstalter, lieber Redakteur, lieber rasender Reporter, 
	lieber Fotograf der S&uuml;ddeutschen Zeitung, der FAZ, der Bild am Sonntag, der Apothekenumschau...<br>
	<br>
	Wer auch immer was &uuml;ber HUNTCASE schreiben m&ouml;chte oder muss, f&uuml;r eine Ank&uuml;ndigung, einen Infozettel,
	eine Homepage, einen Flyer oder sonstwas, der findet hier Vorlagen, die das Leben leichter machen.<br>
	<br>
	<br>
	</p>
	

	<h3>PRESSE-INFO</h3>

	<p class="Column">HUNTCASE, das sind drei Typen mit drei Gitarren und drei Stimmen. Die Band pr&auml;sentiert 
	handgemachten Akustik-Sound und spielt sich dabei durch die Musikgeschichte der vergangenen 
	f&uuml;nfzig Jahre. Und weil die Jungs ihre musikalischen Wurzeln in unterschiedlichen Stilen haben, gehen
	sie dabei auf alles los, was sich irgendwie spielen und vor allen Dingen singen l&auml;sst, ganz egal ob 
	Beatles, Electric Light Orchestra, Sailor, Queen, AC/DC, Bon Jovi, Albert Hammond, Pink Floyd, 
	Eagles oder Nickelback.<br> 
	<br>
	Der Sound von HUNTCASE wird neben akustischen Gitarren und Percussion in aller erster Linie durch 
	ausgefeilte	dreistimmige Gesangslinien gepr&auml;gt. Hier zeigt sich die gro&szlig;e Qualit&auml;t der Band und die 
	Liebe zum Detail mit der die Musiker aus jedem Song ein kleines Meisterwerk zaubern. HUNTCASE sind der 
	beste Beweis, dass man auch als Trio einen richtig satten Chor hinstellen kann.<br>
	<br>
	Wer HUNTCASE live erlebt, der erlebt gute Musik mit Seele und Kraft, Partystimmung, und 
	eine geh&ouml;rige Portion Witz und Selbstironie der Musiker, denn die drei Herren nehmen alles andere ernst, 
	nur nicht sich selbst. Mit ihrem treffsicherem Humor strahlt die Band einen Heidenspa&szlig; auf der B&uuml;hne 
	aus und sorgt somit f&uuml;r beste Unterhaltung.<br>
    </p>
	<br>
	<br><br>
    
    
    
	<h3>PRESSE-INFO KURZFORM</h3>
	<p class="Column">HUNTCASE, drei Gitarren, drei Stimmen, drei Typen und Songs die jeder kennt, aber keiner erwartet.<br>
	<br>
	Die drei Musiker pr&auml;sentieren bar jeglicher Profilneurosen ein Programm, das durch die 
	Musikgeschichte der vergangenen 50 Jahre f&uuml;hrt, angefangen bei den Beatles bis hin zu Nickelback.
	Dabei setzt die Band in erster Linie auf ausgefeilte, dreistimmige Gesangslinien. 
	Das ganze groovy begleitet von drei Akustik-Gitarren und Percussion. Ihr treffsicherer 
	Humor und der Heidenspa&szlig;, den sie auf der B&uuml;hne haben, sorgen f&uuml;r beste Stimmung im Publikum.
	<br>
    </p>
	<br>
	<br>
	
	<h3>PRESSEFOTOS</h3>
	<table width="100%">

	<tr>
	<td style="text-align: center;">
	<img src="Grafik/PresseFoto1Preview.jpg" alt="Pressefoto 1" class="Full"><br>
	<a href="Grafik/PresseFoto1.jpg" >1480 x 2000</a> 
	<br>
	<a href="Grafik/PresseFoto1Mittel.jpg" >740 x 1000</a>
	<br>
	<a href="Grafik/PresseFoto1Klein.jpg" >444 x 600</a>
	<br><br>
	</td>

	</tr>
	<tr>

	<td style="text-align: center;">
	<img src="Grafik/PresseFoto2Preview.jpg" alt="Pressefoto 2" class="Full"><br>
	<a href="Grafik/PresseFoto2.jpg" >1480 x 2000</a> 
	<br>	
	<a href="Grafik/PresseFoto2Mittel.jpg" >740 x 1000</a>
	<br>	
	<a href="Grafik/PresseFoto2Klein.jpg" >444 x 600</a>
	<br><br>

	</tr>
	<tr>

	<td style="text-align: center;">
	<img src="Grafik/PresseFoto3Preview.jpg" alt="Pressefoto 3" class="Full"><br>
	<a href="Grafik/PresseFoto3.jpg" >4400 x 2900</a>
	<br>	
	<a href="Grafik/PresseFoto3Mittel.jpg" >1000 x 695</a>
	<br>	
	<a href="Grafik/PresseFoto3Klein.jpg" >600 x 395</a>
	<br><br>
	</td>
    
	</tr>
	<tr>
	
	<td style="text-align: center;">
	<img src="Grafik/PresseFoto4Preview.jpg" alt="Pressefoto 4" class="Full"><br>
	<a href="Grafik/PresseFoto4.jpg" >4400 x 2900</a>
	<br>	
	<a href="Grafik/PresseFoto4Mittel.jpg" >1000 x 695</a>
	<br>	
	<a href="Grafik/PresseFoto4Klein.jpg" >600 x 395</a>
	<br><br>
	</td>
	</tr>
	</table>
	

</td>
</tr>	 
	
</table>
