<!DOCTYPE HTML>

<html>
<head>
<title>HUNTCASE</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<meta name="description" content="HUNTCASE: Der unplugged Act aus M&uuml;nchen">
<meta name="author" content="Joe Koperski">
<meta name="keywords" content="Huntcase, Band, Akustik-Rock, unplugged, Münchener Band, Akustik-Gitarren, Gitarren-Musik">

<link rel="shortcut icon" href="Grafik/favicon.gif" >



<link rel="stylesheet" href="styles_mobile.css" type="text/css">

</head>


<body>

<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="script.js"></script>


        <div style="display:block; text-align: center;">
            <img src="Grafik/TitleNarrow.png" alt="HUNTCASE" style="width: 80%; vertical-align: top;">
         
            <a class="toggleMenu" href="#"><img src="Grafik/Menu.png" alt="MENU"></a>

            <ul class="nav">
                <li><a href="index.php" >Home</a></li>
                <li><a href="index.php?page=band" >Band</a></li>
                <li><a href="music.php" >Music</a></li>
                <li><a href="dates.php" >Dates</a></li>
                <li><a href="picturesnew.php" >Pictures</a></li>
                <li><a href="guestbook.php" >Guests</a></li>
                <li><a href="index.php?page=press" > Press </a></li>
                <li><a href="&#109;&#97;&#105;&#108;&#116;&#111;:%63%6F%6E%74%61%63%74%40%68%75%6E%74%63%61%73%65%2E%64%65" >Contact</a></li>
            </ul>
        </div>
        
    <!--div style="text-align:center;">
        <img src="Grafik/SeperatorWhite.png" alt="________________" >
    </div-->

	<%%CONTENT%%>

<!--/div-->



</body>
</html>




