<div style="display: inline-block; vertical-align:bottom; margin: 5px 5px; text-align: left;"> 

	<div style="text-align: center; width: <%%THUMBWIDTH%%>px;">

		<a href="<%%IMAGELINK%%>">
            <img border="0" src="<%%THUMB%%>" alt="<%%IMAGENAME%%>"></a>
		<br/>
		<!--%%IMAGENAME%%-->
		<br/>


		<a style="text-decoration: none;" href="index.php?action=picturetop&amp;file=<%%IMAGENAME%%>&amp;page=<%%PAGE%%>" >|&lt;</a>
		&nbsp;&nbsp;&nbsp;
		<a style="text-decoration: none;" href="index.php?action=pictureup&amp;file=<%%IMAGENAME%%>&amp;page=<%%PAGE%%>" >&lt;</a>
		&nbsp;&nbsp;&nbsp;
		<a style="text-decoration: none;" href="index.php?action=picturedown&amp;file=<%%IMAGENAME%%>&amp;page=<%%PAGE%%>" >&gt;</a>
		&nbsp;&nbsp;&nbsp;
		<a style="text-decoration: none;" href="index.php?action=picturebottom&amp;file=<%%IMAGENAME%%>&amp;page=<%%PAGE%%>" >&gt;|</a>



		<br/>
		<a href="index.php?action=picturedelete_ask&amp;file=<%%IMAGENAME%%>&amp;tn=TN<%%IMAGENAME%%>&amp;page=<%%PAGE%%>" >
			<%%DELETETEXT%%>
		</a>
		<br/>
	</div>
	

</div>




