<span style="color: #ff0000; font-weight: bold; font-size: 2em;">WARNING!</span><br/>
<br/>
Are you sure you want to delete this location? <br/>
No more backtracking of dates to this location will be possible.<br/>
<br/>
<form method="post" action="<%%SITE%%>?action=confirmlocationdeletion">
<input type="hidden" name="locationid" value="<%%ID%%>" />
<input type="submit" name="btnsend" value="Keep" style="height: 20px; width: 100px"/>
<input type="submit" name="btnsend" value="Delete" style="height: 20px; width: 100px"/>
</form>
