<!-- Page content -->
<table class="Content"style="background-image: url(./Grafik/Huntcase_Joe.png);background-position:left top;">

<tr>
<td class="ContentLeft" valign="top">
	<!--img src="./Grafik/JoeStamp.png" alt="Joe"-->
</td>

<td class="ContentRight" valign="top">

<h2>Are U ready? We are!</h2>

Vokuhila, Pilotenbrille, Schulterpolster, Axel Rose Stirnband, kreischende Fans, der "Kettens&auml;gen-Blues" 
und in Ohnmacht fallende Frauen - all das ist "Rocky Rose". Die 5 Musiker um Frontmann Thommy Lee Rose 
haben sich nach dem Vorbild des Kino Films "Rock of Ages" der Musik der 80er Jahre verschrieben und leben 
dies auf der B&uuml;hne voll aus: stilechte "Verkleidung", Haarspray, K&uuml;nstlernamen im Sinne der damaligen 
Zeit, B&uuml;hnenposing bis hin zum authentischen Gitarren- und Keyboardmodell der 80er - 
die Zeitreise "Back to the Future" ist perfekt inszeniert.<br><br>

Die Playlist beinhaltet Songs von Bon Jovi, Van Halen, Guns'n Roses, Journey, aber auch ein bisschen 
"Safety Dance" und NDW - eine gute und bunte Mischung. Wenn dann Chainsaw W. Rose der Holzf&auml;llerbeauftragte 
der Band, zum "Lumberjack Blues" das Kettens&auml;gen Solo bringt, ist eigentlich alles zu sp&auml;t.<br><br>

Ihre Shows werden durch Gastmusiker wie etwa "Slash" (Joe Koperski) angereichert, so dass f&uuml;r Ohren und 
Augen des extatisch reagierenden Publikums jederzeit etwas geboten wird.<br><br>

<h3>ROCKY ROSE are:</h3>
	<table width="100%" cellspacing="0" border="0" cellpadding="10">
	<tr>
    <td style="text-align: right;">
		<img style="width: 135px; height: 240px;" src="./Grafik/Thomas.jpg" alt="Thommy"><br>
		<span class="name">Thommy Lee Rose </span><br>
    </td>
    <td style="text-align: center;">
		<img style="width: 135px; height: 240px;" src="./Grafik/Armin.jpg" alt="A.D."><br>
		<span class="name">A.D. Tucker</span><br>
    </td>
    <td style="text-align: left;">
		<img style="width: 135px; height: 240px;" src="./Grafik/Matthias.jpg" alt="Mathew"><br>
		<span class="name">Mathew "Five String" Fox</span><br>
    </td>
    <td style="text-align: left;">
		<img style="width: 135px; height: 240px;" src="./Grafik/Nobbs.jpg" alt="Eddie"><br>
		<span class="name">Eddie McFly</span><br>
    </td>
    <td style="text-align: left;">
		<img style="width: 135px; height: 240px;" src="./Grafik/Patrick.jpg" alt="Chainsaw"><br>
		<span class="name">Chainsaw W. Rose</span><br>
    </td>
    </tr>
    <tr>
    
	<td align="center" width="20%" valign="top">
		<p style="text-align: justify;">Thommy Lee Rose (Thomas Schmalz) - Vocals </p>
	</td>
	<td align="center" width="20%" valign="top">
		 <p style="text-align: justify;">A.D. Tucker (Armin Deuker) - Drums and Vocals </p>
	</td>
	<td align="center" width="20%" valign="top">
		 <p style="text-align: justify;">Mathew "Five String" Fox (Mathis Lischik) - Bass and Vocals </p>
	</td>
	<td align="center" width="20%" valign="top">
		 <p style="text-align: justify;">Eddie McFly (Norbert Wameling) - Gitarrengott and Vocals </p>
	</td>
	<td align="center" width="20%" valign="top">
		 <p style="text-align: justify;">Chainsaw W. Rose (Patrick Rose) - Keyboards, Kettens&auml;ge and Quetschkommode </p>
	</td>
	</tr>

	</table>

Ein Hinweis f&uuml;r die weiblichen Fans: Groupies gehen nicht &uuml;ber Los, sondern melden sich bitte grunds&auml;tzlich 
direkt bei Thommy Lee am hinteren B&uuml;hneneingang.<br><br>

Come on... and get it!


</td>
</tr>	 
	
</table>







