<table class="Content" style="background-image: url(./Grafik/Huntcase_Rainer.png);background-position:left top;">

<tr>
<td class="ContentLeft">
	<!--img src="./Grafik/RainerStamp.png" alt="Rainer"-->
</td>

<td class="ContentRight">
	<h2>WANN &amp; WO?</h2>

	<p>
	Damit Ihr immer auf dem neuesten Stand seid wann und wo Rocky Rose als n&auml;chstes live spielen, k&ouml;nnt 
	Ihr Euch in die Mailing-List eintragen. Ihr werdet dann automatisch &uuml;ber alle Termine f&uuml;nf Tage im Voraus informiert.
 	</p>
	
	<form method="POST" action="reguser.php">
	<p>
	<input type="text" name="email" size="40" style="text-align: left" value="E-Mail Adresse"> &nbsp;&nbsp;&nbsp;
	<input class="button" name="subscribe" type="submit" value="subscribe">
	<input class="button" name="subscribe" type="submit" value="unsubscribe">
 	</p>
	</form>
      
	<!--table width="100%" border="0" cellspacing="12" bgcolor="#303030" -->
	<table>
		<tr> 
			<td colspan="2">
				<h3>
				Hier k&ouml;nnt Ihr Rocky Rose demn&auml;chst live sehen:
				</h3>
			</td>
		</tr>

		<%%DATELIST%%>

	</table>
    <br>

    <%%DATESPAST%%>

</td>
</tr>
</table>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>


