
<table class="Content" style="position: relative; left:0px; top:0px">

<tr><td class="ContentRight" colspan="2">
<!--
	<h1></h1>
-->
	<div class="Center"><img style="width: 800px; height: 600px;" src="./Grafik/Cover.jpg" alt="Rocky Rose"></div>
	<div style="margin-left: auto; position:absolute; left: 80%; top:10px; z-index:1; ">
        <table><%%NEWS%%></table>
    </div> 
	<p class="Center">
    </p>
	
	<p class="Center"></p>
	
	<p class="Center"></p>
</td></tr>





<tr><td align="right" valign="top">
 	<span style="font-size: 10px;">
	<b>Impressum:</b>
	</span>
</td>


<td style="width: 20%;" valign="top">
 	<span style="font-size: 10px;">
	
	Norbert Wameling<br>
	Ohlenbergweg 14<br>
    64291 Darmstadt<br>
	<br>
	</span>
</td></tr>

</table>


