
<!-- Page content -->
<table class="Content" style="background-image: url(./Grafik/Huntcase_Wolfi.png);background-position:left top;">

<tr>
<td class="ContentLeft" valign="top">
	<!--img src="./Grafik/WolfgangStamp.png" alt="Wolfgang"-->
</td>

<td class="ContentRight">
	<h2>IM AKTUELLEN PROGRAMM:</h2>

	<p>
	<span Style="font-size: 10px;">Einige Titel k&ouml;nnt Ihr auch runterladen</span>
	</p> 
	
	<br>
	<%%SETLIST%%>
	
	<p>
	... <br>
	Das Programm wird nat&uuml;rlich permanent erweitert.<br>
	</p>
	
</td>
</tr>
</table>




