
<tr valign="top">
	<td>
		<!--  display date -->
		<%%WEEKDAY%%> <span class="highlight"><b><%%DAY%%>. <%%MONTH%%>. <%%YEAR%%></b> </span><br>
		<!--  display time -->
		<%%TIME%%> Uhr
	</td>

	<td>
		<!--  display location -->
		<b><%%LOCATION%%></b><br>

		<!--  display address -->
		<a href="http://maps.google.com?q=<%%GOOGLELINK%%>"> <%%ADDRESS%%> </a>
		

	</td>
</tr>

<tr>
	<td colspan="2">
		<br>
		<img src="http://www.huntcase.de/Grafik/SeperatorSmallWhite.png" ALT="">
		<br>
		<br>
	</td>
</tr>

