
<!-- Page content -->
<table class="Content">

<tr>

	<td class="ContentRight" valign="top">
	<h1>SO SIEHT'S AUS</h1>

	<table width="100%" border="0" cellspacing="12" class="Center">

		<tr valign="top"><td style="width: 50%;" align="left">
			<%%BACK%%>
		</td>	
		<td style="width: 50%;" align="right">
			<%%FORWARD%%>
		</td></tr>	
			
		<tr><td colspan="2">
			<img src="<%%IMAGE%%>" alt="<%%ALT%%>">
		</td></tr>

	</table>

	<span style="font-size: 10px;">Fotos: Joe Koperski</span>
	</td>
	</tr>
</table>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>



