<!DOCTYPE HTML>

<html>
<head>
<title>Rocky Rose</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<meta name="description" content="Rocky Rose">
<meta name="author" content="Joe Koperski">
<meta name="keywords" content="Rocky Rose, Band, Rock, Rockmusik">

<link rel="shortcut icon" href="Grafik/favicon.gif" >



<link rel="stylesheet" href="styles.css" type="text/css">



</head>


<body>


<div class="contentblock">
    <div class="header">
        <div><img src="Grafik/Title.jpg" alt="Rocky Rose"></div>
        <div id="navcontainer">
            <ul id="navlist">
                <li><a href="index.php" > Home </a></li>
                <li><a href="index.php?page=band" > Band </a></li>
                <li><a href="music.php" > Music </a></li>
                <li><a href="dates.php" > Dates </a></li>
                <li><a href="pictures.php" > Pictures </a></li>
                <li><a href="guestbook.php" > Guests </a></li>
                <li><a href="index.php?page=press" > Press </a></li>
                <li><a href="&#109;&#97;&#105;&#108;&#116;&#111;:%63%6F%6E%74%61%63%74%40%68%75%6E%74%63%61%73%65%2E%64%65" ONMOUSEOVER="change('contact', 'on')" ONMOUSEOUT="change('contact', 'off')" > Contact </a></li>
            </ul>
        </div>
        
        <img src="Grafik/Seperator.jpg" alt="________________" >
    </div>


	<%%CONTENT%%>


</div>

</body>
</html>




